@using FlyAway.CodeToUse
@{
    ViewBag.Title = "Index";
    var jsonReader = new UseJson();
    Dictionary<string, string> tst = new Dictionary<string, string>();

}

@section css {
    @Scripts.Render("~/Content/datepicker")
}


<h2>Index</h2>
<h3>@ViewBag.Message</h3>

@helper Ok(string chemin)
{
    FlyAway.CodeToUse.UseJson js = new UseJson();


    var test = js.ReadJsonFile(@chemin);

    List<SelectListItem> recu = new List<SelectListItem>();
    foreach (var i in @test)
    {
        recu.Add(new SelectListItem { Text = @i.Value + "," + @i.Key, Value = @i.Key });
    }
    foreach (var t in @test)
    {
        //recu.Add(@t.Value);
    }

    @Html.ListBox("myListBox", recu);

}





<div class="form-horizontal">
    <h2>Veuillez choisir votre réservation</h2>
    <hr />

    @jsonReader.ReadDictionnary("C:\\DevTFS\\FlyAway\\FlyAway\\Views\\Recherche\\AeroportOfficiel.json")



    <div class="row center-block">
        <div class="col-lg-6">@Html.Label("Départ", htmlAttributes: new { @class =""})</div>
        <div class="col-lg-6">@Html.Label("Arrivée", htmlAttributes: new { @class = "" })</div>
    </div>
    <div class="row center-block">
        <div class="col-lg-6">
            @Ok("C:\\DevTFS\\FlyAway\\FlyAway\\Views\\Recherche\\AeroportOfficiel.json")
        </div>
        <div class="col-lg-6">
            @Ok("C:\\DevTFS\\FlyAway\\FlyAway\\Views\\Recherche\\AeroportOfficiel.json")
        </div>
    </div>

    <div class="row center-block">
        <div class="col-lg-6">@Html.Label("Heure Départ", htmlAttributes: new { @class = "" })</div>
        <div class="col-lg-6">@Html.Label("Heure Arrivée", htmlAttributes: new { @class = "" })</div>
    </div>
    <div class="row center-block">
        <div class="col-lg-6" >
           <input class="datepicker control-label" data-date-format="mm/dd/yyyy" />
        </div>
        <div class="col-lg-6">
            <input class="datepicker control-label" data-date-format="mm/dd/yyyy" />
        </div>
    </div>

    <div class="row center-block col-lg-8">
        <input type="submit" value="Search" class="btn btn-block" />
    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy',
                startDate: '-3d'
            })
        });

    </script>
}

