@model FlyAway.AeroportOfficiel

@using FlyAway.CodeToUse
@{
    ViewBag.Title = "Index";
    var jsonReader = new UseJson();
    Dictionary<string, string> tst = new Dictionary<string, string>();

}

@section css {
    @Scripts.Render("~/Content/datepicker")
}


<h2>Index</h2>
<h3>@ViewBag.Message</h3>







<div class="form-horizontal">
    <h2>Veuillez choisir votre réservation</h2>
    <hr />

    @jsonReader.ReadDictionnary("C:\\DevTFS\\FlyAway\\FlyAway\\Views\\Recherche\\AeroportOfficiel.json")



    <div class="row center-block">
        <div class="col-lg-6">@Html.Label("Départ", htmlAttributes: new { @class =""})</div>
        <div class="col-lg-6">@Html.Label("Arrivée", htmlAttributes: new { @class = "" })</div>
    </div>
    <div class="row center-block">
        <div class="col-lg-6">
            @Html.ListBox("MyListBox",@jsonReader.Retourne())
        </div>
        <div class="col-lg-6">
            @Html.ListBox("MyListBox", @jsonReader.Retourne())
        </div>
    </div>

    <div class="row center-block">
        <div class="col-lg-6">@Html.Label("Heure Départ", htmlAttributes: new { @class = "" })</div>
        <div class="col-lg-6">@Html.Label("Heure Arrivée", htmlAttributes: new { @class = "" })</div>
    </div>
    <div class="row center-block">
        <div class="col-lg-6" >
           <input class="datepicker control-label" data-date-format="mm/dd/yyyy" />
        </div>
        <div class="col-lg-6">
            <input class="datepicker control-label" data-date-format="mm/dd/yyyy" />
        </div>
    </div>

    <div class="row center-block col-lg-8">
        <input type="submit" value="Search" class="btn btn-block" />
    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy',
                startDate: '-3d'
            })
        });

    </script>
}

